<h1 class="text-center white-text">{{title}}</h1>
<nav class="text-center" style="margin-bottom: 50px">
    <a routerLink="/dashboard" routerLinkActive="active">
        <button type="button" class="btn btn-elegant">Products</button>
    </a>
    <a routerLink="/products" routerLinkActive="active">
        <button type="button" class="btn btn-unique">Favourites</button>
    </a>
    <!--<a routerLink="/contact" routerLinkActive="active">-->
        <!--<button type="button" class="btn btn-elegant">Contact</button>-->
    <!--</a>-->
</nav>
<router-outlet></router-outlet>