.right {
    float: right;
}

.badge-elegant {
    background: #2e2e2e;
    color: white;
    padding: 2px 5px 2px 5px;
    font-size: 0.6em;
}

div.selected {
    border: 1px solid;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header img {
    width: 250px;
    height: 175px;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header {
    display: inline-flex;
}

input[type=checkbox] {
    display: none;
}

.badge {
    float: right;
}